* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #eee3b0;
    header {
        background-color: #c2ab69;
        width: 100%;
        display: flex;
        justify-content: center;
        h1 {
            padding-top: 8px;
            font-size: 30px;
        }
        img {
            width: 50px;
        }
    }
}

.postit {
    background-color: #f5e180;
}

.riscado {
    text-decoration: line-through;
}

.excluir {
    width: 22.5px;
    height: 22.5px;
    border: none;
}
